*{
    box-sizing: border-box;
}

main{
    border: 2px solid black;
    padding: 5px;
}

h2{
    text-align: center;
}

hr{
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
    width: 200px;
}

#kivalasztott{
    width: 500px;
    border-radius: 10px;
}

img{
    width: 150px;
}

section{
    display: flex;
    flex-flow: row wrap;
}

#kivalasztottContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#kepek{
    display: flex;
    flex-flow: row wrap;
    width: 800px;
    gap: 10px;
}

#alapkep{
    border-radius: 5px;
}

body{
    display: flex;
    justify-content: center;
}

